
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@600&display=swap');


* {
    margin: 0;
    padding: 0;
    margin: auto;
    
}

body{
    background-color: rgba(244, 162, 9, 0.744);
    color: white; 
    font-family: comic sans-serif;      
    line-height: 1.5;
    box-sizing: border-box; /* fica tudo agrupado, não sai pra fora do conteudo*/
    padding: 2% 0 0 2%;

}



.titulo{
    color: aqua;
    padding:2% 0 0 30%;
    font-size: 40PX;
}



.cabecalho{
    padding:2% 0 0 30%;
       
    
}

.menu{
    /* display: flex;
    gap:80px; */
    margin:auto;
    
}

.menu-link{
    color: #22D4FD;
    font-family: 'Montserrat, sans-serif';
    font-size: 24px;
    font-weight: 600;/*peso da font*/
    text-decoration: none; 
}


.apresentacao{
    margin: 5% 30%;/* margin de todos os cantos de 5%* e 30% espaço entre foto e text   */  
    align-items: center; /* para alinhar os elementos, centralizar dentro class */
    display:flex;/*colocar como propriedade para posicionar o elemento*/
    justify-content: space-between; /*espaçamento entre blocos (texto e imagem)*/  
    
    
}

.apresentacao-conteudo{    
    width: 615px;
    display: flex;/*deixou texto um ao lado do outro */
    flex-direction:column;/*colocou cada bloco de texto em baixo do outro */
    gap:40px; /*espaçamento entre letras */
    background-color: blue;

}

.apresentacao-conteudo-titulo{
    font-size: 36px;
    font-family:'Krona One', sans-serif; /*font que esta no inicio do codigo, tirada google fonts*/
    background-color: red;

}

.titulo-destaque{
    color:#22d4fd;
    background-color: gray;
}

.apresentacao-conteudo-texto{
    font-size: 24px;
    font-family: 'Montserrat, sans-serif';
    background-color: bisque;
    
}


.apresentacao-links{/*links insta e guithub*/
    display:flex;/*para posicionar elementos na tela(coloca quadrados lado a lado )*/
    flex-direction:column ; /*colocou os botões na posição de coluna */
    justify-content: space-between; /*espaçamento entre blocos (texto e imagem)*/  
    align-items: center;/*centraliza os elementos de acordo com a posição do flex-direction*/
    gap: 32px; /* adiciona espaçamento iguais entre links*/
    font font-family: 'Krona One', sans-serif;
    font-weight: 400;/*peso da font*/
    font-size:30px;    
   
 
}


.links{
    display: flex;   
    justify-content: center;      
    border:3px solid #22D4FD; /*borda nos links*/
    color: white;
    font-family: 'Montserrat, sans-serif';
    width: 378px;
    border-radius: 8px;
    padding: 21.5px 0; 
    text-align: center;    
    font-size: 24px;
    /* font-weight: 600;peso da font*/ 
    text-decoration: none;   
    background-color: orange;
     

}

.links:hover{
    background-color:#272727;


}

.lolo{    
        border-radius:10%;  
        width: 500px;
        height: 600px;
        background-color: yellow;         
    
}



.rodape {
    position: fixed; /*fixar texto no final da tela*/
    bottom: 0; /*colocou o botão no final da pagina*/
    width: 100%; /*deixar o background color na parte total da tela*/    
    background-color: orange;
    color: white;
    padding: 10px;
    text-align: center;
    font-family: 'Montserrat, sans-serif';
    font-size:25px;     
    
}

