:root{
    --cor-principal:rgb(188, 79, 134);
    --cor-secundaria: #22d5fdca;
    --cor-terciaria: rgba(244, 170, 34, 0.834);
}


::-webkit-scrollbar{
    width: 0px;
    height: 0px;
 }

* {   
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}

body{    
    /*background-color:#6f9ded;  */
    font-family: comic sans-serif; 
    background-color: #179cbab6;  
    
}


.cabecalho{
    padding:4%; /*deixar cabeçalho no centro "Home" e  "Sobre mim"*/        
    background-color:var(--cor-principal)    ;  
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.566);
}

.menu{    
    position: absolute;    
    left: 0;     
    display: flex;/*espaço  entre sas palavras Home e Sobre mim*/  
    gap: 10px; /*espaço  entre sas palavras Home e Sobre mim*/  
   
}

.menu-link{
    position: relative;
    left: 30%;
    word-spacing: 15px; /*espaçamento entre as palavras do menu*/
    color: beige;
    font-family:'Krona One', sans-serif; 
    font-size: 25px;
    font-weight: 600;/*peso da font*/
    text-decoration: none;     
}

.menu-link:hover{
    background-color: pink;   
    border: 0.5px solid pink ; 
    border-radius: 10px; 
}

.contanier{
     display: flex;/* Define o contêiner como flexível */
     justify-content: space-between;
     align-items: center;/* Alinha os itens verticalmente ao centro */
}

.conteudo-principal{
    /*position:relative;    
    display:flex;*/
    flex-direction: row;
    align-items: center;  
}    


.titulo{    
    color: var(--cor-principal);
    margin: 6% ; /*5% da esquerda (lateral ) 30% do top sentido para lateral*/    
    font-family:'Krona One', sans-serif;   
    font-size:40px;     
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.075);       
   /* background-image: linear-gradient(to right, #d903e2, #08abff,#ff8495, #31ffcc,#d903e2); Para definir as cores 
    -webkit-background-clip: text;é usada para aplicar o gradiente apenas ao texto
    color: transparent; é usado para tornar o texto transparente, revelando o gradiente de fundo*/  
  
}

.apresentacao.conteudo{
    width: 50%; /* Ajuste conforme necessário */
    color: white;
    font-size: 22px;
    font-family: 'Krona One', sans-serif;
    left: 50%;
    order: 2;/* Muda a ordem do texto para aparecer depois da imagem */
}


.texto{     
   /* position: absolute; 
    left: 10%;   */
    margin-top: 5%; 
    width: 70%;      
    color:white;
    font-size: 22px;
    font-family:'Krona One', sans-serif;  
}

.imagem-lolo3{
   /* position: absolute;
    left: 0; Ajuste a posição horizontal desejada */
    /*bottom:3%; Ajuste a posição vertical desejada */
    z-index:999 ;  /*Garante que a imagem fique acima de outros elementos, se houver */
    width: 76%;   /*Tamanho desejado */
    margin-left: 20px;
    bottom: 50%;
   
    
    
}

.imagem-lolo3 img{
    width: 100%;   

}


.rodape{
        position: fixed; /*fixar texto no final da tela*/
        bottom: 0; /*colocou o botão no final da pagina*/
        width: 100%; /*deixar o background color na parte total da tela*/    
        background-color:#e5c618c7;
        color: white;
        padding: 10px;
        text-align: center;
        font-family: 'Montserrat, sans-serif';
        font-size:20px; 
    }

    
    
/* Media queries para telas de tamanho médio */
@media screen and (max-width: 768px) {
    .contanier {
        flex-direction: column; /* Altera a direção para empilhar em telas menores */
    }

    .apresentacao-conteudo,
    .imagem-lolo3 {
        width: 100%; /* Ocupa toda a largura em telas menores */
        margin-left: 0;
        order: inherit;
    }
}

