
--fonte-secundaria:'Montserrat, sans-serif';

@media only screen and (max-width: 768px) {
    /* Estilos específicos para telas menores, como celulares */
    .cabecalho 
      
* {   
    padding: 0;
    margin: auto;
    box-sizing: border-box;  /*novo*/
 }     
    html,body{
        height: 100%; /*novo*/
    }
    
 
 
    body{
        background-color:var(--cor-principal);    
        color: white; 
        font-family: comic sans-serif;      
        line-height: 1.5;
        box-sizing: border-box; /* fica tudo agrupado, não sai pra fora do conteudo*/
        padding: center;
    }
    /* Adicione estas regras para ajustar o cabeçalho, conteúdo principal e rodapé */
header, main, footer {
    flex: 1;
}
    
    
    
    .cabecalho{
        width: 100%;      
        border-bottom-right-radius: 50%;/* Raio para arredondar os cantos */
        /*border-bottom-left-radius: 50%; Raio para arredondar os cantos */
        padding:20px; /*deixar cabeçalho no centro "Home" e  "Sobre mim"*/ 
        background-color:var(--cor-principal)    ;  
        text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.566);
    }
    
    .menu{
       /*  margin:auto;
        padding: 2%;
        margin-top: 5%;porporção abaixo do top
        width: 30%;    
        display: flex;
        gap: 30px; espaço  entre sas palavras Home e Sobre mim   
        text-align: center;}*/
        width: 100%;
        flex-direction: column;
        gap: 10px;
    }
    
    
    .menu-link{
        padding: 10px;
        color:white;
        font-family:'Krona One', sans-serif; 
        font-size: 30px;
        font-weight: 600;/*peso da font*/
        text-decoration: none;     
    }
    
    
    .conteudo-principal{
        /* margin: 5% 30%; 5% da esquerda (lateral ) 30% do top sentido para baixo   */    
        width: 800px;
        margin:auto;         
    }    
    
    
    .apresentacao-conteudo{
        padding:10px;
        width: 1000px;    
    }
    
    
    
    .titulo{
        color: var(--cor-principal);
        margin: 15% 30% ; /*5% da esquerda (lateral ) 30% do top sentido para lateral*/    
        font-family:'Krona One', sans-serif;   
        font-size: 60px;
        display: inline-block;
        text-align: center;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.075);
        
       /* background-image: linear-gradient(to right, #d903e2, #08abff,#ff8495, #31ffcc,#d903e2); Para definir as cores 
        -webkit-background-clip: text;é usada para aplicar o gradiente apenas ao texto
        color: transparent; é usado para tornar o texto transparente, revelando o gradiente de fundo*/
        
    
    }
    
    .texto{     
        font-size: 33.3px;
        color:white;
        font-size: 30px;
        font-family:'Krona One', sans-serif; 
        margin: auto;
     
    }
    
    .imagem-lolo3{
        position: absolute;
        left: 0;/* Ajuste a posição horizontal desejada */
        bottom:6%;/* Ajuste a posição vertical desejada */
        z-index:999 ; /* Garante que a imagem fique acima de outros elementos, se houver */
    }
    
    .imagem-lolo3 img{
        height:auto;/* Mantém a proporção original da imagem */
        width: 700px;  /* Tamanho desejado */
       
    }
    
    